* {
    margin: 0;
    padding: 0;
    font-family: Georgia;
}

/*CABEÇALHO*/

header {
    background: linear-gradient(100deg, rgb(122, 64, 9), rgb(20, 20, 20));
    height: 150px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; align-items: center;
}

header nav, ul {
    display: flex;
}

header h1 {font-size: 70px; color: white;}

header nav {
    display: flex;
}

header li, a {color: white; }
header li {
    margin: 0 15px; 
    font-size: 25px;
    cursor: pointer;
}
header li:first-child {margin-left: 0;}


ul, nav {list-style: none;}
a{
    text-decoration: none;
    transition: 0.4s;
}

a:hover {
    color: rgb(85, 84, 84);
}

/*CORPO*/

.center {
    padding: 2rem;
    text-align: center;
}
.center img {
    margin-top: 1rem;
    border: 3px solid white;
    border-radius: 50%;
    width: 250px;
}

main {
    background-image: url(./imgIcons/solClave.png);
    background-repeat: no-repeat;
    background-size: 1900px;
    max-width: 100%;
}

h2 {
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    font-size: 30px;
}

/*SOBRE MIM*/

#sobre-mim {
    color: rgb(0, 0, 0);
    height: 180px;
    padding: 15px;
    display: flex; flex-direction: column;
    align-items: center;
}

#sobre-mim h3 {
    font-size: 30px;
}
#sobre-mim p {
    font-size: 20px;
}

/*PROJETOS*/

#projeto {
    background-color: black;
    color: white;
    height: 550px;
}
#projeto p, h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

#projeto h3 {
    font-size: 30px;
    margin-top: 10px;
}
#projeto p {
    font-size: 20px;
    margin-bottom: 15px;
}

.grid {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.grid li {
     height: 150px;
     padding: 5px;
     border-radius: 5px;
     background-clip: content-box;
     background-size: cover;
     background-position: center;
}
.grid li.large {flex-basis: 40%;}
.grid li.small {flex-basis: 25%; align-items: center;}


/*CONTATOS*/

#contato {
    background-color: gray;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contato h3 {
    font-size: 30px;
    margin-top: 10px;
}

#contato p {
    font-size: 20px;
    margin-top: 10px;
}

form{
    color: antiquewhite;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 30%;
    margin-top: 20px;
}

form [type="submit"]{ height: 50px; width: 30%; font-weight: bold;}

input{
    margin-top: 20px;
    height: 15px; width: 350px;
    padding: 20px;
    border-radius: 30px; border: none;
    font-size: 15px;
}

button {
    width: 100px;
    height: 30px;
    margin-top: 20px;
    border-radius: 5px;
    transition: 0.4s;
}

button:hover {
    background-color: rgb(122, 64, 9);
}

/*FINAL*/

footer {
    background: linear-gradient(100deg, rgb(122, 64, 9), rgb(20, 20, 20));
    height: 200px;
    display: flex;
    justify-content: center;
}

.links {
    padding-top: 30px;
    display: flex; 
    align-items: center; 
}
.links li, img {list-style-type: none; 
    margin: 5px 25px; 
    width: 60px;
}

.links img, p {
    cursor: pointer;
}

.links p {
    text-align: center;
    font-size: 20px;
}